.input {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.input__icon::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  right: 24px;
  top: 48px;
  position: absolute;
}

.input__icon_currency::before {
  background-image: url(../../assets/images/Currencies.svg);
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.input__icon_select::before {
  background-image: url(../../assets/images/CaretDown.svg);
  width: 24px;
  height: 24px;
  background-size: 24px;
  cursor: pointer;
}

.input:hover,
.input:focus {
  outline: 1px #fbe54d solid;
  border: 1px transparent solid;
}

.input_error {
  border: 1px solid #e76143;
}

.input_select {
  cursor: pointer;
  caret-color: transparent;
}

.input__header {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
