.hidden {
  display: none;
}

.form__header {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.form__fieldset::before,
.form__button-block::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #333535;
}

.form__button-block::before {
  position: absolute;
  left: 0;
}

@media (max-width: 1140px) and (min-width: 890px) {
}

@media (max-width: 889px) {
  .form__header {
    line-height: 31px;
    font-size: 31px;
  }
}
