@media (min-width: 890px) {
  .select {
    display: block;
  }
}

.select input {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.select__dropdown-block {
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.select__dropdown {
  max-height: 216px;
  overflow: auto;
}

/* scrollbar */

.select__dropdown::-webkit-scrollbar {
  width: 4px;
}

.select__dropdown::-webkit-scrollbar-thumb {
  background-color: #3f444d;
  border-radius: 10px;
}

.select__option {
  display: flex;
  cursor: pointer;
  padding: 10px 16px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.select__option_checked::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/Check.svg);
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  margin-left: auto;
  padding-left: 10px;
}
