.clue__text {
  font-size: 12px;
  line-height: 16.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.clue__text::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../../assets/images/WarningOctagon.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  position: absolute;
  left: 12px;
  top: 6px;
}
